<ion-view class="home-page">
<!-- Header -->
<div
	class="bar bar-header bar-positive">
	<div class="h1 title title-center light">
		<i class="ion-earth"></i>
		Place Search
	</div>
</div>
<ion-content ng-class="{expanded:isExpanded}">
<div class="content has-header">
	<div class="list animate-fade-slide-in-right">
		<div
			class="item item-avatar item-icon-right places-types"
			ng-repeat="place in places"
			ng-click="viewMarkers(place)"
			ng-style="{'background-color':place.background}">
			
			<span>{{place.name}}</span>
		</div>
	</div>
</div>
</ion-content>
</ion-view>